.nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: monospace;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, #c0ccc0, #cfc28d);
  height: 610px;
}

.box {
  position: relative;
  box-sizing: border-box;
  height: 500px;
  mix-blend-mode: difference;
  z-index: 20;
  border: 20px solid yellow;
  margin: 0 0 50px;
}

.title {
  font-family: HeadingFont, sans-serif;
  font-size: 4.4em;
  position: absolute;
  top: 100px;
  left: 10vw;
  z-index: 1;
  mix-blend-mode: difference;
  color: aqua;
}

.subtitle {
  text-align: right;
  font-size: 3em;
  position: absolute;
  top: 170px;
  left: 10vw;
  z-index: 1;
  mix-blend-mode: difference;
  color: yellow;
}

.image {
  position: absolute;
  overflow: hidden;
  top: 70px;
  width: 100%;
  margin: 0;
}

@media (max-width: 1200px) and (min-width: 680px) {
  .image {
    width: 90%;
    left: 10%;
  }

  .title {
    left: 12vw;
    top: 130px;
    font-size: 3.8em;
  }

  .subtitle {
    font-size: 2em;
    text-align: left;
    left: 12vw;
    top: 202px;
  }
}

@media (max-width: 680px) {
  .image {
    width: 90%;
    left: 0;
  }

  .box {
    height: 400px;
  }

  .title {
    font-size: 3.5em;
    top: 30px;
    left: 9vw;
  }

  .subtitle {
    left: 10vw;
    top: 95px;
    font-size: 1.55em;
    text-align: left;
  }

  .sky {
    height: 450px;
  }
}

/* Page */

.page {
  position: relative;
  margin-top: 110px;
  max-width: 86%;
  left: 7%;
  z-index: 20;
}

.content {
}
